 <main>
         
          <!-- <div id="Bannner">
            <img src="img/zion-espaço-eventos-1240x540.png" alt="FOTO DO ESPAÇO" style="width: 100%" >
        </div>  -->

        <br>
        <br>
        <br>
        <br>
        <br>

        <h3 id="PorqueescolheroRolêtop"> Por que escolher o Rolêtop ?</h3>
        <br>
        <br>
        <br>
       
            <div id="container-main">
                <div id="cifrao"> 
                <img class="cifrão" src="img/425ec72f7ed8512e34b3b6dce2a4972f.png" alt="" style="width: 10em">
                    <h3>Qualidade</h3>            
                    <br>
                    <p>A qualidade se faz presente em  <br> tudo que realizamos. No atendimento  <br> fazemos se sentir em casa</p>
                </div>

                <div id="cifrao"> 
                <img class="cifrão" src="img/266869132006212.png" alt="" style="width: 10em">
                    <h3>Estrutura</h3>            
                    <br>
                   <p>Amplo espaço, totalmente adaptável às necessidades <br> de seu evento: os convidados se sentem em <br> casa ao terem em mãos serviços impecáveis <br> em uma estrutura moderna e completa.</p>
                </div>

                <div id="cifrao"> 
                <img class="cifrão" src="img/df044_816.png" alt="" style="width: 10em">
                    <h3>investimento</h3>            
                    <br>
                  <p>Não importa se é o seu casamento, <br> festas debutantes ou balada: <br> no role top  você não gasta, mas <br> investe! o retorno do investimento <br> estará na satisfação dos convidados.</p>
                </div>
            </div>

                


            
               
           <br>
           <br>
           <br>
           <br>
            <h3 id="Titulo"> Perguntas Frequentes</h3>
            <br>
            <br>
            <br>
            
            <button class="accordion">Mais de um evento por dia ?</button>
            <div class="panel">
            <p>Sim</p>
            </div>

            <button class="accordion">É possível alugar apenas o espaço, sem serviço de buffet ?</button>
            <div class="panel">
            <p>Sim</p>
            </div>

            <button class="accordion">Quais são as formas de pagamento?</button>
            <div class="panel">
            <p>Cartão/Boleto</p>
            </div>
          
        
    </main>
