 <main> <hr>
        <br>
        <br>
        <br>
        <br>
        <h3 id="titulo"> Quem Somos</h3>
        <div id="border">

            <div id="jackielee">        
                <img src="img/jackie-lee-1.jpg" alt="Bruce Lee">
            </div>

            <div id="quemsomos"> 
                
                
                <p id="pessoa"> Fernando Pessoa (1888-1935) foi um dos mais importantes poetas da língua portuguesa 
                    <br> e figura central do Modernismo português. Poeta lírico e nacionalista cultivou uma poe-
                    <br>sia voltada aos temas tradicionais de Portugal e ao seu lirismo saudosista, que expressa 
                    <br> reflexões sobre seu “eu profundo”, suas inquietações, sua solidão e seu tédio. Pessoa foi 
                    <br> vários poetas ao mesmo tempo, criou heterônimos, poetas com personalidades próprias que 
                    <br> escreveram sua poesia.</p>
                    
                    <hr> 
                    <div >
                        <p id="texto"> Jackie Chan (conhecido em Hong Kong como "Dragão Chan", em pin yin "cheng long" 成龙) nasceu em uma família extremamente pobre, 
                            tão pobre que Chan quase foi vendido para um rico casal britânico quando ainda era bebê. Por volta de 1960, seu pai, Char-
                            es Chan Chi-Ping, e sua mãe, Lee-Lee Chan Yuet-Wing, fugiram para Camberra, na Austrália, como refugiados da Guerra Civil 
                            Chinesa. Antes de deixar a República Popular da China, Lee-Lee era empregada doméstica e Charles era mordomo, ambos trabalhavam 
                            para o embaixador francês em Hong Kong.</p> 
                        </div>   
                    </div>
                    
                    <div id="chan">      
                        <img src="img/jackie-chan-9542080-1-402.jpg" alt="Jackie Chan">   
                    </div>
                    <br>
                </div>
            </main>