*{
    margin: 0;
    padding: 0;
}

main {
 
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(#FFC600,purple); /* Standard syntax (must be last) */

}


#logo-area img {

  height: 70px;
    margin: 15px 0 0 10px;
   margin-left: -400%;
    

}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    height: 2.5em;
    list-style-type: none;
    justify-content: space-between;
    text-decoration: none;
    width: 75%;
    float: right;
    padding: 1em;
}

nav {
    background-color: #FFC600;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav #bt-mobile-menu {
    display: none;
}


nav ul > li {
    width: 100%;
    text-align: center;
}

nav ul > li > a {
    padding: 0.4em;
    display: block;
    text-decoration: none;
    color: #361a0c;
    font-weight: bold;
}

nav ul > li > a:hover {
    background-color: #6B40B8;
    color: #fff;
}

nav ul > li:last-child {
    font-family: 'Janda Manatee Solid', 'Londrina Solid', cursive;
}


footer  {
    background-color: #fff;
   
    max-height: 250px;
}

#rodape ul{
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    text-align: center;
    list-style-type: none;
    
}

footer a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

#redessociais {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
   


}

#redessociais img {
    padding: 0.2em;
    width: 2.5em;

}

#redessociais Address {
    text-align: center;   
    display: flex;
    justify-content: center;
}

.slideshow-container {
    
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #FFC600;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
 #t1 {

    font-size: 2.5em;
    font-family: 'Fredoka One' , cursive;
    display: flex;
    justify-content: center;
    font-weight: none;
  }

  #destaque {
    display: flex;
    justify-content: space-evenly;
    margin-right: 5.5em;
  
  }
  
  #Legenda {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-family: 'Pt Sans' , cursive;
  }

  #role {
    text-align: center;  
  
  }

  #role button {
    font-size: 4em;
    text-decoration: none;
    background-color: black;
    border: 2px solid #29ff00 ;
    color: #29ff00;
     
  }
  
  #Marilia {
    padding: 0 0 0 2.5em;
    color: #FFF;
  }
 
  #lexa {
    padding: 0 0 0 2.5em;
    color: #FFF
  }
 
  #maisa {
    padding: 0   2.5em 0 0;
    color: #FFF;

  }

  
#bt-mobile-menu{
  display: none;
}

@media (max-width: 625px) {

  nav #bt-mobile-menu {
      display: block;
  
  }
  
  nav .bt-common-menu {
      display: none;
      z-index: 9999;
      
  }
  
  nav .bt-common-menu.active {
      display: block;
     
  }
  
  nav ul.mobile-mode {
      display: flex;
      flex-direction: column;
  
   }
  
   #legenda {
    display:flex;
    align-content: space-around;
   }

   #destaque {
     flex-direction: column;
     display: flex;
     width: 100%;
   }

   #Marilia {
     display: none;

   }

   #lexa {
     display: none;
   }
   #img {
     display: none;
   }
   #hr {
     display: none;
   }
   h2 {
     text-align: center;
   }

  }