<main>
        <br>
        <br>
        <br>
         <div id="banner">
            <img src="/img/galeria.png" alt="Galeria" style="width: 70%">
         </div>
         <br>
         <br>
         <br>
         <br>
         <section id="titulo-servicos">

            <h1>Rave</h1>
         </section>
            <br>
            <br>
            <br>

            <div class="container">
              <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="/img/festa-de-aniversario-soldadinho-de-chumbo.jpg" style="width:70%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="/img/temas-festas-de-aniversario-de-meninos.jpg" style="width:70%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="/img/fernanda-concon-festa-15-anos-larissa-manoela.jpg" style="width:70%">
              </div>
                
              <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="/img/download.jpg" style="width:70%">
              </div>
            
              <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="/img/download (1).jpg" style="width:70%">
              </div>
                
              <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="/img/Como-decorar-uma-festa-de-aniversário-em-5-passos-1024x768.jpg" style="width:70%">
              </div>
                
            
            
              <div class="caption-container">
                <p id="caption"></p>
              </div>
            
              <div class="row">
                <div class="column">
                  <img class="demo cursor" src="/img/festa-de-aniversario-soldadinho-de-chumbo.jpg" style="width:100%" onclick="currentSlide(1)" alt="Festa de aniversario soldadinho">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/img/temas-festas-de-aniversario-de-meninos.jpg" style="width:100%" onclick="currentSlide(2)" alt="aniversario de menino">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/img/fernanda-concon-festa-15-anos-larissa-manoela.jpg" style="width:100%" onclick="currentSlide(3)" alt="15 anos Fernanda Concon">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/img/download.jpg" style="width:100%" onclick="currentSlide(4)" alt="Andre Marques geração saúde">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/img/download (1).jpg" style="width:100%" onclick="currentSlide(5)" alt="Larissa Manoela no aniversario">
                </div>    
                <div class="column">
                  <img class="demo cursor" src="/img/Como-decorar-uma-festa-de-aniversário-em-5-passos-1024x768.jpg" style="width:100%" onclick="currentSlide(6)" alt="Festa de aniversário">
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="btn-group">
                     <a asp-controller="Galeria" asp-action="Index"><button class="button">Aniversário</button></a> 
                    <a asp-controller="Galeria" asp-action="Casamento"><button class="button" >Casamento</button></a> 
                    <a asp-controller="Galeria" asp-action="Rave"> <button class="button">Rave</button></a>
                    <a asp-controller="Galeria" asp-action="Baile"> <button class="button">Baile</button></a>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
            
    </main>